    <header class="site-header">
        <h1>Mental Health & Wellbeing</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'aboutpage' %}">About</a></li>
                <li><a href="{% url 'login' %}">Login/Register</a></li>
                <li><a href="{% url 'homepage' %}">Fitenss training</a></li>
                <li><a href="{% url 'emotion-detection' %}">AI Chatbox</a></li>
                <li><a href="{% url 'enterence' %}">home page</a></li>
            </ul>
        </nav>
        <button id="theme-toggle" style="margin-left: 1rem; padding: 0.5rem 1rem; font-size: 1rem; border-radius: 6px; border: none; cursor: pointer;">Light Mode</button>
    </header>